@using InspiredCooking.Core

<div class="form-group">
    <label asp-for="Recipe.Ingredients"></label>
    <span class="text-danger" asp-validation-for="Recipe.Ingredients"></span>

    @for (var i = 0; i < Ingredients.Count; i++)
    {
        var ingredient = Ingredients[i];
        <input type="hidden" name="Recipe.Ingredients[@i].Id" value="@ingredient.Id">
        <input class="form-control" type="text" name="Recipe.Ingredients[@i].Name" value="@ingredient.Name">
        <button class="btn btn-primary" @onclick="() => DeleteIngredientField(ingredient)" @onclick:preventDefault="true">Delete Ingredient</button>

    }
</div>

<button class="btn btn-primary" @onclick="AddIngredientField" @onclick:preventDefault="true">Add Ingredient</button>

@code {
    [Parameter]
    public List<Ingredient> Ingredients { get; set; }

    private void AddIngredientField()
    {
        var newIngredient = new Ingredient();
        Ingredients.Add(newIngredient);

    }

    private void DeleteIngredientField(Ingredient ingredient)
    {
        Ingredients.Remove(ingredient);

    }







}