<!--Preptime-->
<div class="for-group row">
    <input type="hidden" name="@PropertyName" @bind="TimeInMinutes">

    <label asp-for="@PropertyName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <input class="form-control" @bind="TimeInMinutes" />
        <span class="text-danger" asp-validation-for="Recipe.PrepTimeInMinutes"></span>
    </div>
</div>

@code {

    [Parameter]
    public int TimeInMinutes { get; set; }

    [Parameter]
    public string PropertyName { get; set; }

}
