


    <div class="row">
    <div class="col s12">
      <div class="card-panel teal">
        <span class="alert white-text">Estamos hasta el picoroco con COVID-19, así que tenga paciencia si nos demoramos en que esta wea funcione. Agradecemos su confianza. Stay Safe.
        </span>
      </div>
    </div>
  </div>



<div class="container">

  <!---Recipes Name--->
  <h4 class="recipetitle">Pastel de Papa</h4>
  <h6 class="author">By Carito</h4>

  <!---Recipes Description--->
  <h6 class="recipeDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h6>

  <!---Recipes Photo--->
  <img src="https://argentina-travel-blog.sayhueque.com/wp-content/uploads/2015/09/papa.jpg" alt="" class="recipeImage responsive-img" alt="">

  <!---Buttons--->
  <div>
  <button class="recipeActions waves-effect waves-light btn grey darken-4"><i class="material-icons left">local_dining</i>Make it</button>
  <button class="recipeActions waves-effect waves-light btn grey darken-4 rigth-align"><i class="material-icons left">favorite</i>Add to favorites</button>
  </div>

</div>






