<div class="container">

  <!---Recipes Name--->
  <div>
  <h4 class="recipeTitle"><%= @recipe.name %></h4>
  <div class="divider"></div>
  </div>

  <!---Recipes Author--->
  <!--TODO -->
  <h6 class="author"><img class="authorImage circle responsive-img" src="https://cdn-images-1.medium.com/fit/c/200/200/1*fmti2-FyGmZK-DGAHfMlkg.jpeg">By Carito</h4>

  <!---Recipes Description--->
  <h6 class="recipeDescription"><%= @recipe.description %></h6>

  <!---Recipes Photo--->
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>

  <!---Recipes Ingredientes--->
  <h5 class="ingredientsTitle">Ingredients</h5>
  <div class="divider"></div>
  <div class="ingredientsList">
    <table>
        <tbody>
          <% @recipe.steps.each do |step|%>
            <% step.ingredients.each do |ingredient|%>
              <tr>
                <td><%=ingredient["quantity"][0].to_s + " " +  ingredient["quantity"][1].to_s+ " of " + ingredient["id"] %></td>
              </tr>
            <% end%>
           <% end %>
        </tbody>
      </table>
  </div>

  <!---Buttons--->
  <div class="recipeActions right-align">
  <button class=" waves-effect waves-light btn grey darken-4">
    <%= link_to recipe_step_path(@recipe, 1) do %>
    <i class="material-icons left">local_dining</i>Make it
    <% end %>
  </button>

  <button class="waves-effect waves-light btn grey darken-4 rigth-align"><i class="material-icons left">favorite</i>Add to favorites</button>
  </div>

</div>





