// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import
url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
body
{
  // background-color: red;
  // @use "@material/typography/mdc-typography";
  font-family: "Roboto";
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.author {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 8px;
}

.authorImage {
  height: 400px;
  width: 40px;
  margin-right: 10px;
}

.recipeTitle {
  font-family: 'Rock Salt', cursive;
  font-size: 34px;
  padding-top: 8px;
}

.recipeDescription {
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;

}

.recipeImage {
  padding-top: 8px;
  padding-bottom: 8px;
}

.recipeActions {
  margin-top: 30px;
  // margin-right: 8px;
  margin-bottom: 8px;
}

.stepImage {
  padding-top: 8px;
  padding-bottom: 8px;
}
.stepActions {
  margin-top: 30px;
  // margin-right: 8px;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #F60;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
}

.divider-1 {
  border-bottom: 1px solid #FFF;
  background-color: #bdbaba;
  height: 1px;
  margin: 0.5em 0px 1.5em;
}

.divider-1 span {
  display: block;
  width: 50px;
  height: 1px;
  background-color: #F60;
}

.alert {
  font-size: 12px;
}

.typeBody2 {
  font-size: 14px;
}

.typeCaption {
  font-size: 14px;

}

.page-footer {
  margin-top: 100px;
  background-color: #212121;
}





