// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import
url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
body
{
  // background-color: red;
  // @use "@material/typography/mdc-typography";
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.recipeTitle {
  font-weight: 700;
  font-size: 34px;
  padding-top: 8px;
}

.recipeDescription {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 8px;

}

.recipeImage {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* ---------------- Recipe Show ----------- */
.authorInfo {
  padding-top: 10px;
}

.author {
  font-size: 12px;
  font-weight: 300;
}

.authorImage {
  height: 30px;
  width: 30px;
}

.recipeDetails {
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

.ingredientsList {
  font-weight: 300;

}

.recipeActions {
  margin-top: 30px;
  margin-bottom: 8px;
}


/* ---------------- Step Show ----------- */

.guideText {
  font-size: 14px;
}

.stepIngredients {
  margin-top: 20px;
}

.stepInstructions {
  margin-top: 40px;
}

.stepImage {
  padding-top: 8px;
  padding-bottom: 8px;
}
.stepActions {
  margin-top: 30px;
  // margin-right: 8px;
}

.guideText {
  font-size: 14px;
}

.alert {
  font-size: 12px;
}

.typeBody2 {
  font-size: 14px;
}

.page-footer {
  margin-top: 100px;
  background-color: #212121;
}

/* ---------------- User ----------- */

.shared_links {
  padding: 10px 10px 10px 5px;
  line-height: 2;

}

#error_explanation {
  padding: 10px;
  background-color: #ef9a9a;
  border-radius: 3px;
}

#error_explanation h2 {
  text-align: left;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  margin: 10px;
}

#error_explanation ul li {
  font-size: 12px;
  // padding: 5px 5px 5px 15px;
  margin-left: 15px;
  list-style: circle;
  color: #fff;
  }

// body {
//   background-color: #fff;
//   color: #333;
//   margin: 33px; }

// body, p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px; }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px; }

// a {
//   color: #000; }

// a:visited {
//   color: #666;
// }

// a:hover {
//   color: #fff;
//  background-color: #212121;
// }

// th {
//   padding-bottom: 5px; }

// td {
//   padding: 0 5px 7px; }

// div.field,
// div.actions {
//   margin-bottom: 10px; }

#notice {
  padding: 10px;
  background-color: #f1f8e9;
  border-radius: 3px;
}

  // #error_explanation {
  //   padding: 10px;
  //   background-color: #ef9a9a;
  //   border-radius: 3px;
  // }

  // #error_explanation h2 {
  //   text-align: left;
  //   font-size: 16px;
  //   color: #fff;
  //   border-radius: 3px;
  //   margin: 10px;
  // }

  // #error_explanation ul li {
  //   font-size: 12px;
  //   // padding: 5px 5px 5px 15px;
  //   margin-left: 15px;
  //   list-style: circle;
  //   color: #fff;
  //   }


// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table; }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0; }

// #error_explanation h2 {
//   text-align: left;
//   font-weight: bold;
//   padding: 5px 5px 5px 15px;
//   font-size: 12px;
//   margin: -7px -7px 0;
//   background-color: #c00;
//   color: #fff; }

// #error_explanation ul li {
//   font-size: 12px;
//   list-style: square; }

// label {
//   display: block;
// }








